* {
    box-sizing: border-box;
    outline: none;
    
}
div {
    display: block;
}

      header {
    height: 50px;
    background-color: #f5f5f5;
    position: fixed;   
    top: 0;
    margin-left:0;
    width:50%;
    z-index: 1000000;
    color: #2b2b2b;
}
.toolbar {
    height: 28px;
    padding: 11px 0px 12px 0px;
    text-align: center;
}
.backBtn {
    padding-left: 15px;
    display: inline-block;
    float: left;
    color: #2b2b2b;
    z-index: 1;
    position: relative;
}

a {
    text-decoration: none;
    outline: none;
}
.heading {
    height: 100%;
    display: inline-block;
    line-height: 27px;
    font-size: 18px;
    font-weight: 500;
    vertical-align: top;
    position: absolute;
    left: 0;
    right: 0;
}
@media only screen and (max-width:700px) {
    header {
    height: 50px;
    background-color: #f5f5f5;
    position: fixed;   
    top: 0;
    margin-left:0;
    width:100%;
    z-index: 1000000;
    color: #2b2b2b;
}
img-responsive{
    display:none;
}
  }

  .card {
    position: relative;
    border-radius: 0.55rem;
    border: 1px solid #e5e5e5;
    background-color:#ffffff;
    margin: 0;
    margin: 8px 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
}
.card:hover{
 Â background:red;
}
.ride-row {
    min-height: 90px;
    line-height: 18px;
    padding: 13px 0px 11px 0;
    overflow: auto;
    position: relative;
}
.left {
    position: absolute;
    width: 64px;
    padding-left: 8px;
    /*bottom:10px;*/
    overflow-y:auto;
}
.middle {
    position: relative;
    padding-left: 72px;
    padding-right: 50px;
    left: 0;
    width: 100%;
}
@media (max-width: 359px){
.value {
    font-size: 13px;
}
}
.value {
    padding-bottom: 2px;
    font-weight: 500;
    font-size: 14px;
    color: black;
}
.text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.desc {
    font-size: 12px;
    color: #6d6d6d;
}
.address-holder {
    padding-top: 4px;
}
.from.dot {
    background-color: #54a624;
}
.dot {
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    vertical-align: top;
    margin: 7px 0 0;
}
.address {
    width: 90%;
    color: #999999;
    display: inline-block;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
}
.desc {
    font-size: 12px;
    color: #6d6d6d;
}
.to.dot {
    background-color: #ff665a;
}
.far-right {
    position: absolute;
    width: 40px;
    right: 0px;
    text-align: center;
    line-height: 40px;
}
@media (max-width: 359px)
{
.status {
    font-size: 13px;
}
}
.status.COMPLETED {
    color: #000;
}

.status {
    position: absolute;
    right: 20px;
    font-size: 14px;
    bottom:70px;
    color: #000;
    font-weight: 600;
}
.booking_status {
    position: absolute;
    left:1px;
    font-size: 12px;
    top:43px;
    font-weight: 600;
}
.right-driver-icon {
    position: absolute;
    right: 20px;
    bottom: 28px;
    width: 44px;
    height: 44px;
    padding: 1px;
    border-radius: 50%;
    
}
body{

 background-color: #f5f5f5;
 overflow:hidden;
}
.img-responsive{
    width: 100%;
  height:625px;
  background-size:cover;
    /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  overflow:hidden;
}
   .myridesdiv{
      overflow:auto;height:570px;overflow-x: hidden;
    }
    .myridesdiv::-webkit-scrollbar {
  width: 10px;
  background-color: #7d7979;
}
    .myridesdiv::-webkit-scrollbar-track {
  background: #d4cdcd; 
  width: 10px;
}
.far-right2 {
    position: absolute;
    width: 80px;
    right: 0px;
    top: 27px;
    text-align: center;
    line-height: 0px;
}
.left2 {
    position: absolute;
    width: 70px;
    padding-left: 0px;
    padding-top: 10px;
    overflow-y:auto;
}
.middle2 {
    position: absolute;
    padding-left: 82px;
    padding-right: 50px;
    left: 0;
    top: 27px;
    width: 100%;
    font-size: 11px;
}
.card:hover .left2 img{
     transform: scale(1.03);
  
}
.subcatname{
color: #2b2b2b;
font-size: 18px;
font-weight: 500;
}